/*============
    GLOBALS          
=============*/
@font-face {
    font-family: 'Roboto';
    //src: url('Roboto-Thin-webfont.ttf') format('truetype');
    src: url('Roboto-Light-webfont.ttf') format('truetype');
    //font-weight: normal;
    //font-style: normal;
}
.mobile,input,textarea{
  font-family:'Roboto', sans-serif;
}
.invisible{
  background-color: rgba(0,0,0,0);
  border:none;
  border: 1px dashed rgba(66, 63, 63, 0.38);
}

.floatright{
  float:right;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 0.3em;
    height: 0.3em
}
::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #888
}
::-webkit-scrollbar-thumb {
    background: #eee
}
/*============
    big boys          
=============*/

.mobile{
  position: fixed;
  left:500px;
  height:750px;
  width:340px;
  background-image: url("img/mobile.jpg");
  background-repeat: no-repeat;
  background-size: 120% 100%;
  background-position: center;
}

.screen{
  position: relative;
  top:80px;
  left:20px;
  width:291px;
  height:495px;
  background:ghostwhite;
}

/*============
    topbar          
=============*/

.topbar{
  position: absolute;
  height:30px;
  width:100%;
  background:black;
  vertical-align:center;
  z-index: +3;
}

.topbar>.button{
  height:100%;
  width:40px;
  background-image: url("img/drawer.png");
  background-size: 80% 70%;
  background-repeat: no-repeat;
  background-position: center;
}
.topbar>*{
  display:inline-block;
}
.topbar>input{
  position:absolute;
  top:4px;
  color:white;
}

/*============
    sidebar          
=============*/

.sidebar{
  position: absolute;
  float:left;
  top:14px;
  display:none;
  height:461px;
  padding-top:20px;
  width:70%;
  background:grey;
  z-index: +1;
  opacity: 0.8;
}
.sidebar>p{
  padding:5px;
  text-align: center;
  border-radius: 3px;
  margin:3px;
}
.sidebar>p:hover{
  background: white;
  cursor:pointer;
  opacity: 0.8;
}


/*============
    content          
=============*/

.content{
  position: relative;
  top:30px;
  text-align: center;
}
.content>div{
  position: absolute;
  width:100%;
}

/*================
 content > events         
=================*/
.events>button{
  position: absolute;
  z-index: +3;
  top:0;
  right:0;
}
.events>.band{
  background: gold;
  padding:5px 5px 0 5px; 
  overflow: scroll;
  overflow-y:hidden;
  white-space: nowrap;
}
.events>.band>.tab{
  color:white;
  height:20px;
  width:30%;
  display:inline-block;
  text-align: center;
  padding:10px;
  cursor:pointer;
  margin: 0px 2px 4px 2px;
}

.events>.slides{
  margin-top: 20px;
  position: relative;
}

.events>.slides>img{
  position: relative;
  height:30%;
  width: 85%;
}

.events>.slides>textarea{
  width:85%;
  height:230px;
  border: 1px dashed #999;
}

.addrem{
  border-radius: 30px;
  text-align: center;
  border:2px solid #999;
  opacity:0.4;
}
.addrem:hover{
  opacity:0.9;
  cursor: pointer;
}
.slides>.addrem{
  position:absolute;
  top:-20px;
  right:0;
}
.slides>#img_upload_input{
  opacity:0.4;
}
.slides>#img_upload_input:hover{
  opacity:0.8;
  cursor: pointer;
}
/*================
content > register     
=================*/
.field{
  height:50px;
  margin-top:10px;
}

.field>input{
  display: inline-block;
  width:40%;
}

/*================
content > contact         
=================*/
#title{
  text-align: center;
  width:100%;
}

