/*============
    GLOBALS          
=============*/

.invisible{
  background-color: rgba(0,0,0,0);
  border:none;
}

.floatright{
  float:right;
}

/*============
    big boys          
=============*/

.mobile{
  position: fixed;
  left:500px;
  height:750px;
  width:340px;
  background-image: url("img/mobile.jpg");
  background-repeat: no-repeat;
  background-size: 120% 100%;
  background-position: center;
}

.screen{
  position: relative;
  top:80px;
  left:20px;
  width:291px;
  height:495px;
  background:ghostwhite;
}

/*============
    topbar          
=============*/

.topbar{
  position: absolute;
  height:30px;
  width:100%;
  background:black;
  vertical-align:center;
  z-index: +3;
}

.topbar>.button{
  height:100%;
  width:40px;
  background-image: url("img/drawer.png");
  background-size: 80% 70%;
  background-repeat: no-repeat;
  background-position: center;
}
.topbar>*{
  display:inline-block;
}
.topbar>input{
  position:absolute;
  top:4px;
  color:white;
}

/*============
    sidebar          
=============*/

.sidebar{
  position: absolute;
  float:left;
  top:14px;
  height:97.4%;
  width:70%;
  background:grey;
  display:none;
  opacity:0.9;
  z-index: +1;
}
.sidebar>p{
  padding:5px;
}
.sidebar>p:hover{
  background: white;
  cursor:pointer;
}


/*============
    content          
=============*/

.content{
  position: relative;
  top:30px;
  text-align: center;
}
.content>div{
  position: absolute;
  width:100%;
}

/*================
 content > events         
=================*/

.events>button{
  float:right;
}
.events>.band{
  background: lightblue;
  padding:5px 5px 5px 5px; 
}
.events>.band>.tab{
  color:white;
  //background: tomato;
  height:20px;
  width:20%;
  display:inline-block;
  text-align: center;
  padding:10px;
  border-right: 1px solid white;
  //border-left: 1px solid white;
  cursor:pointer;
  margin: 0px 2px 4px 2px;

}

.events>.band>.tab:hover{
  border-bottom: 4px solid white;
}

.events>.slides{
  margin-top: 20px;
  position: relative;
}

.events>.slides>img{
  position: relative;
  height:30%;
}

.events>.slides>textarea{
  position: static;
  width:85%;
  height:40%;
}
.remove{
  position: absolute;
  z-index: +2;
  top:0;
  right:0;
}
.img{
  width: 85%;
}
/*================
content > register     
=================*/

.field{
  height:50px;
}

.field>input{
  display: inline-block;
  width:40%;
}

/*================
content > contact         
=================*/

#title{
  text-align: center;
  width:100%;
}
